

.actions
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.actions .icons
{
    cursor: pointer;
}

.filterWrapper
{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: baseline;
}

.example-full-width 
{
    width: 60%;
}

.container
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 3%;
    width: 100%;
}