<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ heading }}</mat-card-title>
    </mat-card-header>
  </mat-card>

  <div class="button-float-right">
    <button mat-raised-button class="button" (click)="navigateToProjectList()">
      Task List
    </button>
  </div>

  <mat-card appearance="outlined" class="form">
    <form class="grid-form" [formGroup]="taskForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Task Name</mat-label>
        <input
          matInput
          placeholder="Enter Task Name"
          formControlName="name"
          type="text"
        />
        <mat-error
          *ngIf="
            taskForm.get('name')?.touched &&
            taskForm.get('name')?.hasError('required')
          "
          >Task Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Due Date</mat-label>

        <input matInput [matDatepicker]="picker1" formControlName="dueDate" />

        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error
          *ngIf="
            taskForm.get('dueDate')?.touched &&
            taskForm.get('dueDate')?.hasError('required')
          "
          >dueDate is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option
            *ngFor="let priority of priorityList"
            [value]="priority"
            >{{ priority }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="
            taskForm.get('priority')?.touched &&
            taskForm.get('priority')?.hasError('required')
          "
          >First Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusList" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            taskForm.get('status')?.touched &&
            taskForm.get('status')?.hasError('required')
          "
          >First Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
        <mat-error
          *ngIf="
            taskForm.get('description')?.touched &&
            taskForm.get('description')?.hasError('required')
          "
          >First Name is required</mat-error
        >
      </mat-form-field>
    </form>
    <div class="button-float-right">
      <button type="button" mat-raised-button class="button" (click)="submit()">
        Submit
      </button>
    </div>
  </mat-card>
</div>
